{% extends "Manager/manager_index3.html" %}
{% block body %}
{% load static %}
<html lang="en">
<body>
  <div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Alloted Staff</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/manager_login">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Alloted Staff</li>
      </ol>
    </div>
<div class="col-xl-12 col-lg-9">
<form id="form1" name="form1" method="post" action="/manager_view_alloted_shift_post/">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td>
      <input type="date" name="textfield4" id="textfield4" class="form-control " required/></td>
      <td width="80px"><input type="submit" name="button" id="button" value="Search" class="btn btn-success"/></td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <th>SL.NO</th>
      <th>Name</th>
      <th>Shift</th>
      <th> Time </th>
      <th> Date </th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.staff_id.Name }}</td>
      <td>{{ i.shift_id.shift_nbr }}</td>
      <td>{{ i.shift_id.shift_time }}</td>
      <td>{{ i.date }}</td>
    </tr>
      {% endfor %}
  </table> 
</form>
</div>
</body>
{%endblock%}

