<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{% static 'admin_site/style.css' %}">
	<title>AdminSite</title>
</head>
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smile icon'></i> ManagerSite</a>
		<ul class="side-menu">
			<li><a href="/manager_login" class="active"><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="main">Main</li>
			<li>
				<a href="/manager_view_moulds"><i class='bx bx-calendar'></i>&nbsp; View Moulds </a>
			</li>
			<li>
				<a href="/manager_view_section"><i class='bx bx-calendar'></i>&nbsp; View Supervisors </a>
			</li>
			<li>
				<!-- <a href="/manager_view_alloted_shift"><i class='bx bx-list-ul'></i>&nbsp; View Alloted </a> -->
			</li>
			<li>
				<a href="/manager_view_order"><i class='bx bx-package'></i>&nbsp; View Orders </a>
			</li>
			<li>
				<a href="/manager_view_approved_order"><i class='bx bx-check-square'></i>&nbsp; View Approved Orders </a>
			</li>
			<li>
				<a href="/manager_view_cancel_request"><i class='bx bx-x-circle'></i>&nbsp; Cancel Request </a>
			</li>
			
			

			{% comment %} <li>
				<a href="#"><i class='bx bxs-inbox icon' ></i> Predict Moulds <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="/admin_add_predict_mould">Add Mould</a></li>
					<li><a href="/admin_view_predict_mould">View Mould</a></li>
					<li><a href="/admin_view_public_ratting">View Response</a></li>
					<li><a href="#">Button</a></li> 
				</ul>
			</li> 
			 <li>
				<a href="#"><i class='bx bxs-inbox icon' ></i> Business Request <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="/admin_view_business_request">Manage Request</a></li>
					<li><a href="/admin_view_approved_business_request">View Approved</a></li>
					<li><a href="#">Button</a></li> 
			</li>
			<li>
				<a href="#"><i class='bx bxs-inbox icon' ></i> Unit Management <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="/admin_view_unit_request">View Unit Request</a></li>
					<li><a href="/admin_view_approve_unit_request">View Approved</a></li>
					<li><a href="#">Button</a></li>
				</ul>
			</li>
			 <li><a href="#"><i class='bx bxs-chart icon' ></i> Charts</a></li>
			<li><a href="#"><i class='bx bxs-widget icon' ></i> Widgets</a></li> 
			<li class="divider" data-text="Employee Management">Employee Management</li>
			 <li><a href="#"><i class='bx bx-table icon' ></i> Tables</a></li> {% endcomment %}
			{% comment %} <li>
				<a href="#"><i class='bx bxs-notepad icon' ></i> Job Master <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="/admin_add_job">Add Job</a></li>
					<li><a href="/admin_view_job">View Job</a></li>
					<li><a href="/admin_view_vacancy">View Vacancies</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class='bx bxs-notepad icon' ></i> Staff Management <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="/admin_view_carrier_application">View Applications & Allot</a></li>
					<li><a href="/admin_view_staff">View Staffs</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class='bx bxs-notepad icon' ></i> Manager Management <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="/admin_allot_manager">Allot Manager</a></li>
					<li><a href="/admin_view_manager">View Manager</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class='bx bxs-notepad icon' ></i> Shift Management <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="/admin_add_shift">Add Shift</a></li>
					<li><a href="/admin_view_shift">View Shift</a></li>
				</ul>
			</li>
			<li class="divider" data-text="Others">Others</li>
			<li>
				<a href="#"><i class='bx bxs-inbox icon' ></i> Finance<i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="/admin_view_loan_request">View Loan Request</a></li>
					<li><a href="/admin_view_approved_loan_request">View Emploayee Loan</a></li>
					 <li><a href="#">Breadcrumbs</a></li>
					<li><a href="#">Button</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class='bx bxs-inbox icon' ></i> Attendance <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="/admin_view_section">Attendance Entry</a></li>
					<li><a href="/admin_view_attendance">View Attendance Entry</a></li>
					<li><a href="/admin_set_leave_master">Leave Master </a></li>
					<li><a href="/admin_view_leave_master">View Leave Master </a></li>
					<li><a href="/admin_view_leave_request">View Leave Request</a></li>
					<li><a href="/admin_view_approved_leave_request">View Approved</a></li>
					<li><a href="#">Prepare Salary Slip</a></li>
					 <li><a href="#">Button</a></li> 
				</ul>
			</li>
			<li>
				<a href="#"><i class='bx bxs-inbox icon' ></i> Feedback <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="/admin_view_unit_reviews">View Review</a></li>
					<li><a href="/admin_view_unit_complaints">View Complaints</a></li>
				</ul>
			</li>
		</ul>
		 <div class="ads">
			<div class="wrapper">
				<a href="#" class="btn-upgrade">Upgrade</a>
				<p>Become a <span>PRO</span> member and enjoy <span>All Features</span></p>
			</div>
		</div>   {% endcomment %}
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
				<div class="form-group">
					<input type="text" placeholder="Search...">
					<i class='bx bx-search icon' ></i>
				</div>
			</form>
			<a href="#" class="nav-link">
				<i class='bx bxs-bell icon' ></i>
				<span class="badge">5</span>
			</a>
			<a href="#" class="nav-link">
				<i class='bx bxs-message-square-dots icon' ></i>
				<span class="badge">8</span>
			</a>
			<span class="divider"></span>
			<div class="profile">
				<img src="{{data.Photo}}"  alt="">
				<ul class="profile-link">
					{% comment %} <li><a href="#"><i class='bx bxs-user-circle icon' ></i> Profile</a></li> {% endcomment %}
					{% comment %} <li><a href="#"><i class='bx bxs-cog' ></i> Settings</a></li> {% endcomment %}
					<li><a href="/manager_view_profile"><i class='bx bxs-log-out-circle' ></i> View Profile</a></li>
					<li><a href="/logout"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
				</ul>
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			 {% comment %} <h1 class="title">Dashboard</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Dashboard</a></li>
			</ul> {% endcomment %}
			 <div class="info-data">
				{% comment %} <div class="card">
					<div class="head">
						<div>
							<h2>1500</h2>
							<p>Traffic</p>
						</div>
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="40%"></span>
					<span class="label">40%</span>
				</div>
				<div class="card">
					<div class="head">
						<div>
							<h2>234</h2>
							<p>Sales</p>
						</div>
						<i class='bx bx-trending-down icon down' ></i>
					</div>
					<span class="progress" data-value="60%"></span>
					<span class="label">60%</span>
				</div>
				<div class="card">
					<div class="head">
						<div>
							<h2>465</h2>
							<p>Pageviews</p>
						</div>
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="30%"></span>
					<span class="label">30%</span>
				</div>
				<div class="card">
					<div class="head">
						<div>
							<h2>235</h2>
							<p>Visitors</p>
						</div>
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="80%"></span>
					<span class="label">80%</span>
				</div> {% endcomment %}
			</div> 
			 <div class="data">
				<div class="content-data">
					<div class="head">
						{% comment %} <h3>Sales Report</h3> {% endcomment %}
						<div class="menu">
							{% comment %} <i class='bx bx-dots-horizontal-rounded icon'></i>
							<ul class="menu-link">
								<li><a href="#">Edit</a></li>
								<li><a href="#">Save</a></li>
								<li><a href="#">Remove</a></li> {% endcomment %}
							</ul>
						</div>
					</div>
					{%block body%}
			{%endblock%}
					{% comment %} <div class="chart">
						<div id="chart"></div>
					</div>
				</div>  
				<div class="content-data">
					<div class="head">
						<h3></h3>
					 <div class="menu">
							<i class='bx bx-dots-horizontal-rounded icon'></i>
							<ul class="menu-link">
								<li><a href="#">Edit</a></li>
								<li><a href="#">Save</a></li>
								<li><a href="#">Remove</a></li>
							</ul>
						</div>
					</div>
					
					 <div class="chat-box">
						<p class="day"><span>Today</span></p>
						<div class="msg">
							<img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
							<div class="chat">
								<div class="profile">
									<span class="username">Alan</span>
									<span class="time">18:30</span>
								</div>
								<p>Hello</p>
							</div>
						</div>
						<div class="msg me">
							<div class="chat">
								<div class="profile">
									<span class="time">18:30</span>
								</div>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum eos quam dolores eligendi exercitationem animi nobis reprehenderit laborum! Nulla.</p>
							</div>
						</div>
						<div class="msg me">
							<div class="chat">
								<div class="profile">
									<span class="time">18:30</span>
								</div>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, architecto!</p>
							</div>
						</div>
						<div class="msg me">
							<div class="chat">
								<div class="profile">
									<span class="time">18:30</span>
								</div>
								<p>Lorem ipsum, dolor sit amet.</p>
							</div>
						</div>
					</div>
					<form action="#">
						<div class="form-group">
							<input type="text" placeholder="Type...">
							<button type="submit" class="btn-send"><i class='bx bxs-send' ></i></button>
						</div>
					</form>
				</div>  
			</div>  {% endcomment %}
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="{% static 'admin_site/script.js' %}"></script>
</body>
</html>