{% extends "Manager/manager_index3.html" %}
{% block body %}
{% load static %}
<html lang="en">
<body>
  <div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Approved Order</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/manager_login">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Approved Order</li>
      </ol>
    </div>
<div class="col-xl-12 col-lg-9">
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    
  <table class="table table-bordered">
    <tr>
      <td>
      <input type="text" name="textfield" id="textfield" placeholder="Search by Name" class="form-control " required/></td>
      <td width="80px"><input type="submit" name="button" id="button" value="Search" class="btn btn-success"/></td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <th>SL.NO</th>
      <th>Name</th>
      <th>Company Name</th>
      <th> Mould </th>
      <th> Photo </th>
      <th> Quantity </th>
      <th> Date </th>
      <th> Status </th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.unit_id.Name }}</td>
      <td>{{ i.unit_id.Company_Name }}</td>
      <td>&nbsp;{{ i.mould_id.mname }}</td>
      <td><img src="{{ i.mould_id.photo }}" height="100px" width="100px" ></td>
      <td>&nbsp;{{ i.quantity }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.status }}</td>
    </tr>
      {% endfor %}
  </table> 
</form>

</div>
</body>
{% endblock %}

