{% extends "Public/inner-page.html" %}
{% block body %}
{% load static %}
<html lang="en">
    <br><br>
    <body>
  <!-- ======= About Section ======= -->
  <section id="about" class="about" > 
    <div class="container" data-aos="fade-up" id="abc">

      <div class="section-header">
        <h2>About Us</h2>
        <p>Mechland Tools is a freshly constituted firm which has been started with the sole intention
          to provide world class and economical solutions to the need of moulds as well as tools for
          the industries of South India especially Kerala.</p>
      </div>

      <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-5">
          <div class="about-img">
            <img src="{% static 'public_home/assets/img/vcm.webp' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-7">
          <h3 class="pt-0 pt-lg-5">Our state of the art facility located at Pullukunnu, Chelembra Malappuram.</h3>

          <!-- Tabs -->
          {% comment %} <ul class="nav nav-pills mb-3">
            <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Saepe fuga</a></li>
            <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Voluptates</a></li>
            <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">Corrupti</a></li>
          </ul><!-- End Tabs --> {% endcomment %}

          <!-- Tab Content -->
          <div class="tab-content">

            <div class="tab-pane fade show active" id="tab1">

              <p class="fst-italic">Equipped
                in such a way to deliver works in bench mark perfection in the areas of.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Mould design and Manufacturing</h4>
              </div>
              <p> Production of high-quality moulds using state-of-the-art machinery and materials to ensure durability and performance.
                Catering to a wide range of industries including footwear, automotive, consumer goods, and more.
              </p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Mould repair and Amendments</h4>
              </div>
              <p>Comprehensive repair services to restore moulds to their optimal working condition, extending their lifespan and reliability.
                Skilled in making precise amendments to existing moulds to adapt to new design requirements or improve functionality.
              </p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Tool manufacturing
                adn Tool repair</h4>
              </div>
              <p>Crafting precision tools with meticulous attention to detail, suitable for various manufacturing processes.
                Quick turnaround times for repair services to minimize disruption to clients manufacturing schedules.
              </p>

            </div><!-- End Tab 1 Content -->

            <div class="tab-pane fade show" id="tab2">

              <p class="fst-italic">Consequuntur inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
              </div>
              <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Incidunt non veritatis illum ea ut nisi</h4>
              </div>
              <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et perferendis.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Omnis ab quia nemo dignissimos rem eum quos..</h4>
              </div>
              <p>Eius alias aut cupiditate. Dolor voluptates animi ut blanditiis quos nam. Magnam officia aut ut alias quo explicabo ullam esse. Sunt magnam et dolorem eaque magnam odit enim quaerat. Vero error error voluptatem eum.</p>

            </div><!-- End Tab 2 Content -->

            <div class="tab-pane fade show" id="tab3">

              <p class="fst-italic">Consequuntur inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
              </div>
              <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Incidunt non veritatis illum ea ut nisi</h4>
              </div>
              <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et perferendis.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Omnis ab quia nemo dignissimos rem eum quos..</h4>
              </div>
              <p>Eius alias aut cupiditate. Dolor voluptates animi ut blanditiis quos nam. Magnam officia aut ut alias quo explicabo ullam esse. Sunt magnam et dolorem eaque magnam odit enim quaerat. Vero error error voluptatem eum.</p>

            </div><!-- End Tab 3 Content -->

          </div>

        </div>

      </div>

    </div>
  </section><!-- End About Section -->

  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-out">

      <div class="row g-5">

        <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
          <h3> <em>VMC</em> MACHINE</h3>
          <p> Vertical Machining Centers, also known as Vertical Milling Machines, create holes in flat
            parts. The VMC technology is favored when three-axis work is done on a single face, such
            as in-mold and die works.Multiple adjustments are available on VMCs. For example, on
            the worktable, there are numerous angles of approach, rotating and other positioning
            devices. The incorporated computerized controls enable automation, repeatability, tool
            selection/change, and contour control. These new CNC machines raised the productivity
            of the “milling” machine to unprecedented heights, giving rise to the term VMC (Vertical
            Machining Center). We are having VMC at our facility which is the backbone of manufacturing processes in Mechland Tools</p>
          {% comment %} <a class="cta-btn align-self-start" href="#">Call To Action</a> {% endcomment %}
        </div>

        <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
          <div class="img">
            <img src="{% static 'public_home/assets/img/VMC.png' %}" alt="" class="img-fluid">
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Call To Action Section -->

</body>
{% endblock %}
</html>

