
{% extends "Unit/inner-page.html" %}
{% block body %}
{% load static %}
<html lang="en">
</head>

<body>
  <div class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Status</h2>
        <ol>
          <li><a href="/unit_login">Home</a></li>
          <li>Status</li>
        </ol>
      </div>

    </div>
  </div><!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<section class="inner-page">
<div class="container" data-aos="fade-up">

  <div class="section-header">
    <h2>Order Status</h2>
    {% comment %} <p>Order Your Moulds</p> {% endcomment %}
  </div>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td>
      <input type="text" name="textfield" id="textfield" placeholder="Search by Name" class="form-control " required/></td>
      <td width="80px"><input type="submit" name="button" id="button" value="Search" class="btn btn-success"/></td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <th>SL.NO</th>
      <th>Name</th>
      <th>Company Name</th>
      <th> Mould </th>
      <th> Photo </th>
      <th> Quantity </th>
      <th> Date </th>
      <th> Status </th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.unit_id.Name }}</td>
      <td>{{ i.unit_id.Company_Name }}</td>
      <td>&nbsp;{{ i.mould_id.mname }}</td>
      <td><img src="{{ i.mould_id.photo }}" height="100px" width="100px" ></td>
      <td>&nbsp;{{ i.quantity }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.status }}</td>
      {% if i.status == "Pending" or i.status == "Rejected" %}
      
      {% else %}
      <td><a href="/unit_view_delivery_status/{{i.id}}" class="btn btn-success">View Delivary Details</a></td>
    
    {% endif %}
    
    {% if i.status == "Rejected" %}

    {% else %}
      <td><a href="/unit_cancel_order/{{i.id}}" class="btn btn-danger">Cancel Order</a></td>

      {% endif %}
  
      
    
      
  </tr>

      {% endfor %}
  </table> 
</form>
</div>
</section>
</body>
{%endblock%}

