<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Inner Page - HeroBiz Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'public_home/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'public_home/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'public_home/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'public_home/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'public_home/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'public_home/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'public_home/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="{% static 'public_home/assets/css/variables.css' %}" rel="stylesheet">
  <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="{% static 'public_home/assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: HeroBiz
  * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <!-- Alertify Js -->
  <!-- CSS -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
  <!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
</head>

<body>

 <!-- ======= Header ======= -->
 <header id="header" class="header fixed-top" data-scrollto-offset="0">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>MechLand<span>.</span></h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="/supervisor_login">Home</a></li>
        {% comment %} <li class="dropdown"><a href="#"><span>Home</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="index.html" class="active">Home 1 - index.html</a></li>
            <li><a href="index-2.html">Home 2 - index-2.html</a></li>
            <li><a href="index-3.html">Home 3 - index-3.html</a></li>
            <li><a href="index-4.html">Home 4 - index-4.html</a></li>
          </ul>
        </li> {% endcomment %}

        
        {% comment %} <li><a class="nav-link scrollto" href="/public_about">About</a></li>
        <li><a class="nav-link scrollto" href="/public_service">Services</a></li> {% endcomment %}
        {% comment %} <li><a class="nav-link scrollto" href="index.html#portfolio">Portfolio</a></li> {% endcomment %}
        {% comment %} <li><a class="nav-link scrollto" href="index.html#team">Team</a></li>
        <li><a href="blog.html">Blog</a></li> {% endcomment %}
        <li><a class="nav-link scrollto" href="/supervisor_view_profile">Profile</a>

          {% comment %} <li><a class="nav-link scrollto" href="/employee_loan_request">Loan</a> {% endcomment %}
          <li><a class="nav-link scrollto" href="/supervisor_leave_request">Leave</a>
          <li><a class="nav-link scrollto" href="/supervisor_loan_request">Loan</a>

            <!-- <li class="dropdown"><a href="#"><span>Loan</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="/supervisor_apply_advance/#abc">Advance</a></li>
                <li><a href="/supervisor_loan_request/#abc">Personal</a></li>
    
              </ul> -->
        {% comment %} <li class="dropdown megamenu"><a href="#"><span>Mega Menu</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li>
              <a href="#">Column 1 link 1</a>
              <a href="#">Column 1 link 2</a>
              <a href="#">Column 1 link 3</a>
            </li>
            <li>
              <a href="#">Column 2 link 1</a>
              <a href="#">Column 2 link 2</a>
              <a href="#">Column 3 link 3</a>
            </li>
            <li>
              <a href="#">Column 3 link 1</a>
              <a href="#">Column 3 link 2</a>
              <a href="#">Column 3 link 3</a>
            </li>
            <li>
              <a href="#">Column 4 link 1</a>
              <a href="#">Column 4 link 2</a>
              <a href="#">Column 4 link 3</a>
            </li>
          </ul>
        </li> {% endcomment %}
        <li class="dropdown"><a href="#"><span>Status</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="/supervisor_view_loan_status/#abc">Loan</a></li>
            <!-- <li><a href="/supervisor_view_advance_status/#abc">Advance</a></li> -->

            <li><a href="/supervisor_view_leave_status/#abc">Leave</a></li>

          </ul>
          
          <!-- <li><a class="nav-link scrollto" href="/supervisor_view_salary_slip">Salary</a> -->

          <li><a class="nav-link scrollto" href="/supervisor_view_staffs">Shift</a>

            <li class="dropdown"><a href="#"><span>Others</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="/supervisor_view_attendance/#abc">Attendance</a></li>
                <li><a href="/supervisor_view_salary_slip/#abc">Salary</a></li>
                <!-- <li><a href="/supervisor_view_advance_status/#abc">Advance</a></li> -->
    
                
    
              </ul>

        {% comment %} <li class="dropdown"><a href="/unit_view_profile"><span>Settings</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="/unit_view_profile/#abc">Profile</a></li> {% endcomment %}
            {% comment %} <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li> {% endcomment %}
            {% comment %} <li><a href="/contact_service">Contact</a></li> {% endcomment %}
          </ul>
        {% comment %} </li>
        <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li> {% endcomment %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle d-none"></i>
    </nav><!-- .navbar -->

    <a class="btn-getstarted scrollto" href="/logout">Logout</a>

  </div>
</header><!-- End Header -->

  <main id="main">

    {%block body%}
    {%endblock%}

    {% comment %} <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Inner Page</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Inner Page</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section class="inner-page">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Inner Page</h2>
          <p>Example inner page template</p>
        </div>

        <p>
          You can duplicate this page and create any number of pages you like!
        </p>

      </div>
    </section><!-- End Inner Page --> {% endcomment %}

  </main><!-- End #main --><br><br>

    <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>MechLand Tools</h3>
              <p>
                Door No: 6/113, Pullumkunnu, Chelembra P.O,<br> PIN 673634,
                    Malappuram Dist, Kerala, India<br><br>
                <strong>Phone:</strong>+91 9747191106<br>
                <strong>Email:</strong>mechlandtools@gmail.combr>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/staff_login">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/employee_view_profile">Profile</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/employee_loan_request">Loan</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/employee_leave_request">Leave</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/employee_view_shift_allotment">Shift</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Status</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/employee_view_loan_status">Loan</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/employee_view_leave_status">Leave</a></li>
              

            </ul>
          </div>

          {% comment %} <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div> {% endcomment %}

        </div>
      </div>
    </div>

    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            &copy; Copyright <strong><span>MechLand</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            Designed by <a href="https://bootstrapmade.com/">Sakthiii</a>
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'public_home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'public_home/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'public_home/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'public_home/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'public_home/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'public_home/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'public_home/assets/js/main.js' %}"></script>

  <!-- Alertyfy Js-->
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  
  <script>
     alertify.set('notifier','position', 'top-center');

    {% for msg in messages %}
    {% if 'error' in msg.tags %}
        alertify.error('{{ msg }}');
    {% else %}
        alertify.success('{{ msg }}');
    {% endif %}
{% endfor %}
</script>


</body>

</html>