{% extends "Supervisor/emp_inner-page.html" %}
{% block body %}
{% load static %}
<html lang="en">
<body>
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Loan Status</h2>
        <ol>
          <li><a href="/supervisor_login">Home</a></li>
          <li>Loan Status</li>
        </ol>
      </div>

    </div>
  </div><!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<section class="inner-page">
<div class="container" data-aos="fade-up">

  <div class="section-header">
    <h2>Loan Status</h2>

  </div>
  <table class="table table-bordered">
    <tr>
        <th>Staff Name</th>
        <th>Loan Amount</th>
        <th>Date</th>
        <th>Purpose</th>
        <th>Status</th>
    </tr>
    {% for i in data %}
        <tr>
            <td>{{ i.staff_id.Name }}</td>
            <td>{{ i.loan_amount }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.purpose }}</td>
            {% if i.status == "Pending" %}
                  <td><label class="badge bg-danger text-white">{{ i.status }}</label></td>
                {% else %}
                  <td><label class="badge bg-success text-white">{{ i.status }}</label></td>
                {% endif %}
        </tr>
    {% endfor %}
</table>
</div>
</section>
</body>
{%endblock%}
</html>
