{% extends "Supervisor/emp_inner-page.html" %}
{% block body %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<html lang="en">
<body>
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Loan Status</h2>
        <ol>
          <li><a href="/supervisor_login">Home</a></li>
          <li>Loan Status</li>
        </ol>
      </div>

    </div>
  </div><!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<section class="inner-page">
<div class="container" data-aos="fade-up">

  <div class="section-header">
    <h2>Loan Status</h2>

  </div>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="/supervisor_view_loan_status_post/">
  {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td>
        <input type="date" name="from_date" id="from_date" class="form-control"/>
      </td>
      <td>
        <input type="date" name="to_date" id="to_date" class="form-control"/>
      </td>
      <td width="80px">
        <input type="submit" value="Search" class="btn btn-success"/>
      </td>
    </tr>
  </table>
  
  <table class="table table-bordered">
    <tr>
        <th>Staff Name</th>
        <th>Loan Amount</th>
        <th>Date</th>
        <th>Purpose</th>
        <th>Status</th>
    </tr>
    {% for i in data %}
        <tr>
            <td>{{ i.staff_id.Name }}</td>
            <td>{{ i.loan_amount }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.purpose }}</td>
            {% if i.status == "Pending" %}
                <td><label class="badge bg-danger text-white">{{ i.status }}</label></td>
            {% elif i.status == "Rejected" %}
                <td><label class="badge bg-warning text-white">{{ i.status }}</label></td>
            {% else %}
                <td><label class="badge bg-success text-white">{{ i.status }}</label></td>
            {% endif %}
            
            {% if i.status == "Rejected" %}

            {% else %}
              <td>
                <a href="/supervisor_view_existing_loan/{{i.id}}">
                  <i class="fas fa-info-circle"></i>View More
                </a>
              </td>

            {% endif %}
              
        </tr>
    {% endfor %}
</table>
</form>
</div>
</section>
</body>
{%endblock%}
</html>
