<!-- <!DOCTYPE html> -->
{% extends "admin_master.html" %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RoyalUI Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'Admin-Master/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'Admin-Master/vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'Admin-Master/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'Admin-Master/images/favicon.png' %}" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
<form action="/admin_salary_report_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
    <table class="table table-bordered">
      <tr>
        <td>
            <label for="select"></label>
            <select name="select" class="form-control" id="select">
                <option disabled selected value="">Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </td>
        <td>
            <label for="select2"></label>
            <select name="select2" class="form-control" id="select">
                <option disabled selected value="">Year</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
            </select>
        </td>

        
        <td width="50px">
          <button type="submit" name="button" id="button" value="search" class="btn btn-success btn-sm fas fa-search">
          </button>
        </td>
      </tr>
    </table>
  {% comment %} <table class="table table-bordered table-hover">
   
    <tr>
      <th>Section</th>
      <td><label for="select"></label>
        <select name="select"  class="form-control" id="select">
           <option>Production</option>
           <option>Packing</option>
           <option>Sales</option>
      </select></td>
      <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success"/></td>
    </tr>
  </table> {% endcomment %}
  {% comment %} <table class="table table-bordered table-hover">
    <tr>
      <td>
      <input type="text" name="textfield" id="textfield" placeholder="Search by Name" class="form-control " required/></td>
      <td width="80px"><input type="submit" name="button" id="button" value="Search" class="btn btn-success"/></td>
    </tr>
  </table> {% endcomment %}
  <table class="table table-bordered table-hover">
    <tr>
      <th>SL.NO</th>
      <th>Name</th>
      <th>Job Role</th>
      <th>Month and Year</th>
      {% comment %} <th> Date Of Birth </th>
      <th> Email </th>
      <th>Phone number</th>
      <th> Address </th> {% endcomment %}
      <!-- <th> Joining Date </th> -->
      {% comment %} <th> Remark </th> {% endcomment %}
      <th> Salary </th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.staff_id.Name }}</td>
      <td>{{ i.staff_id.job_id.job_role }}</td>
      <td>{{ i.month }},{{i.year}}</td>
      {% comment %} <td>{{ i.Date_of_birth }}&nbsp;</td>
      <td>&nbsp;{{ i.Email }}</td>
      <td>&nbsp;{{ i.Phone_Number }}</td>
      <td>&nbsp;{{ i.Address }}</td> {% endcomment %}
      <!-- <td>&nbsp;{{ i.join_date }}</td> -->
      {% comment %} <td>&nbsp;{{ i.remark }}</td> {% endcomment %}
      <td>&nbsp;{{ i.net_salary }}</td>
      <!-- <td><a href="/admin_add_attendance/{{i.id}}" class="btn btn-success">Attendance Entry</a></td> -->
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{%endblock%}
</html>
