<!-- <!DOCTYPE html> -->
{% extends "admin_master.html" %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RoyalUI Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'Admin-Master/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'Admin-Master/vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'Admin-Master/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'Admin-Master/images/favicon.png' %}" />

</head>

<body>
<body>
<form id="form1" name="form1" method="post" action="">
    {% csrf_token %}


  <table class="table table-bordered table-hover">
    <tr>
      <th>SL.NO</th>
      <th>Mould Name</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.mldname }}</td>
    <td><a href="/admin_view_public_ratting2/{{i.id}}" class="btn btn-success">Best Product</a></td>
    </tr>
      {% endfor %}
  </table> 
</form>
</body>
{% endblock %}




{% comment %} {% extends "admin_index.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <link rel="stylesheet" href="{% static 'admin_site\table.css' %}">
</head>
<body>
<form id="form1" name="form1" method="post" action="">
    {% csrf_token %}


  <table class="table table-bordered">
    <tr>
      <th>SL.NO</th>
      <th>Mould Name</th>
      <th>Photo 1</th>
      <th> Photo 2 </th>
      <th> Photo 3 </th>
      <th> Suggestion </th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.predict_mould_id.mldname }}</td>
      <td><img src="{{ i.predict_mould_id.photo1 }}" height="100px" width="100px" ><br>{{ i.p1_ratting }}</td>
      <td><img src="{{ i.predict_mould_id.photo2 }}" height="100px" width="100px" ><br>{{ i.p2_ratting }}</td>
      <td><img src="{{ i.predict_mould_id.photo3 }}" height="100px" width="100px" ><br>{{ i.p3_ratting }}</td>
      <td>{{ i.suggestion }}</td>
      {% comment %} <td><a href="/admin_edit_predict_mould/{{i.id}}" class="btn btn-success">Edit</a></td>
      <td><a href="/admin_delete_predict_mould/{{i.id}}" class="btn btn-danger">Delete</a></td> {% endcomment %}
    {% comment %} </tr>
      {% endfor %}
  </table> 
</form>
</body>
{% endblock %}

 {% endcomment %} 
