<!-- <!DOCTYPE html> -->
{% extends "admin_master.html" %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RoyalUI Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'Admin-Master/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'Admin-Master/vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'Admin-Master/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'Admin-Master/images/favicon.png' %}" />
</head>
<body>
<form action="/admin_edit_predict_mould_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table class="table table-bordered">
    <input type="hidden" name="id" id="" value="{{data.id}}">
    <tr>
      <th>Mould Name</th>
      <td>
      <input type="text" name="textfield" id="textfield" class="form-control" value="{{data.mldname}}" /></td>
    </tr>
    <tr>
      <th>Photo 1</th>
      <td><img src="{{ data.photo1 }}" height="60px"width="60px">
      <input class="btn-icon-append" type="file" name="photo1" id="photo1" class="form-control" /></td>
    </tr>
    <tr>
        <th>Photo 2</th>
        <td><img src="{{ data.photo2 }}" height="60px"width="60px">
        <input class="btn-icon-append" type="file" name="photo2" id="photo2" class="form-control" /></td>
      </tr>
      <tr>
        <th>Photo 3</th>
        <td><img src="{{ data.photo3 }}" height="60px"width="60px">
        <input class="btn-icon-append" type="file" name="photo3" id="photo3" class="form-control" /></td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input class="btn-icon-append" type="submit" name="button" id="button" value="Submit" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
</html>
