<!-- <!DOCTYPE html> -->
{% extends "admin_master.html" %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RoyalUI Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'Admin-Master/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'Admin-Master/vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'Admin-Master/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'Admin-Master/images/favicon.png' %}" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<form id="form1" name="form1" method="post" action="/admin_view_staff_post/">
    {% csrf_token %}
  <table class="table table table-bordered">
    <tr>
      <td>
      <input type="text" name="textfield" id="textfield" placeholder="Search by Name" class="form-control " required/></td>
      <td width="50px">
        <button type="submit" name="button" id="button" value="search" class="btn btn-success btn-sm fas fa-search">
        </button>
      </td>
        </tr>
  </table>
  <table class="table table-bordered table-hover ">
    <tr>
      <th>SL.NO</th>
      <th>Name</th>
      <th>Posistion</th>
      {% comment %} <th>Gender</th>
      <th> Date Of Birth </th>
      <th> Email </th>
      <th>Phone number</th>
      <th> Address </th> {% endcomment %}
      <th>  Month </th>
      <th> Year </th>
      <th> No.of Working Days </th>
      {% comment %} <th> Photo </th> {% endcomment %}
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.staff_id.Name }}</td>
      <td>{{ i.staff_id.job_id.job_role }}</td>

      {% comment %} <td>{{ i.Gender }}</td>
      <td>{{ i.Date_of_birth }}&nbsp;</td>
      <td>&nbsp;{{ i.Email }}</td>
      <td>&nbsp;{{ i.Phone_Number }}</td>
      <td>&nbsp;{{ i.Address }}</td> {% endcomment %}
      <td>&nbsp;{{ i.month }}</td>
      <td>&nbsp;{{ i.year }}</td>
      <td>&nbsp;{{ i.no_of_working_days }}</td>
      {% comment %} <td><img src="{{ i.Photo }}" height="100px" width="100px" ></td> {% endcomment %}
    </tr>
      {% endfor %}
  </table> 
</form>
</body>
{%endblock%}


