{% extends "admin_master.html" %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .left {
            float: left;
            width: 50%;
        }

        .right {
            float: right;
            width: 50%;
        }
    </style>
</head>

<body>

    <form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h3 style="border-bottom: 1px solid #ccc; padding-bottom: 5px;">Pesonal Details</h3>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <td>{{data.Name}}</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>{{data.Gender}}</td>
                    </tr>
                    <tr>
                        <th>DOB</th>
                        <td>{{data.Date_of_birth}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{data.Email}}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{data.Phone_Number}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{data.house_name}},{{data.place}},{{data.city}},{{data.state}},{{data.pin}}</td>
                    </tr>
                    <tr>
                        <th>Father's Name</th>
                        <td>{{data.father_name}}</td>
                    </tr>
                    <tr>
                        <th>Nationality</th>
                        <td>{{data.nation}}</td>
                    </tr>
                    <tr>
                        <th>Addhar Number</th>
                        <td>{{data.aadhar}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <h3 style="border-bottom: 1px solid #ccc; padding-bottom: 5px;">Bank Details</h3>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th>Bank Name</th>
                        <td>{{data.bank_name}}</td>
                    </tr>
                    <tr>
                        <th>Account Number</th>
                        <td>{{data.bank_account_no}}</td>
                    </tr>
                    <tr>
                        <th>IFSC Code</th>
                        <td>{{data.bank_ifsc}}</td>
                    </tr>
                    <tr>
                        <th>Branch</th>
                        <td>{{data.branch}}</td>
                    </tr>
                </table>
            </div>
        </div><br>
        <div class="form-group">
            <div class="col-md-12 text-center">
                <a href="/admin_view_staff" class="btn btn-primary btn-sm">Back</a>
            </div>
        </div>
    </form>
</body>
{% endblock %}
</html>
