<!-- <!DOCTYPE html> -->
{% extends "admin_master.html" %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RoyalUI Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'Admin-Master/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'Admin-Master/vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'Admin-Master/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'Admin-Master/images/favicon.png' %}" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <form action="/admin_edit_staff_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
        {% csrf_token %}
      <table class="table table-bordered">
        <input type="hidden" name="id" id="" value="{{data.id}}">
        <tr>
          <th>Name</th>
          <td>
          <input type="text" name="textfield" id="textfield" class="form-control" value="{{data.Name}}"/></td>
        </tr>
          <tr>
            <th>Gender</th>
            <th><select name="RadioGroup1" class="form-control">
    
                <option value="Male" {% if data.Gender == 'Male' %}selected{% endif %}>Male</option>
                <option value="Female" {% if data.Gender == 'Female' %}selected{% endif %}>Female</option>
                <option value="Others" {% if data.Gender == 'Others' %}selected{% endif %}>Others</option>
            </select></th>
          </tr>
        <tr>
          <th>Date Of Birth</th>
    <td>
          <input type="date" name="textfield2"  min="1800-01-01" max="2010-12-31"  placeholder="" id="textfield2" class="form-control" value="{{data.Date_of_birth}}"/></td>
        </tr>
        <tr>
          <th>Email</th>
          <td>
          <input type="email" name="textfield4" id="textfield4" class="form-control" value="{{data.Email}}"/></td>
        </tr>
        <tr>
          <th>Phone Number</th>
          <td>
          <input type="text" name="textfield5" placeholder="" pattren="[6789][1-9] {9}" max="10" id="textfield5" class="form-control" value="{{data.Phone_Number}}"/></td>
        </tr>
        <tr>
          <th>Address</th>
          <td>
          <input type="text" name="textfield7" id="textfield6" class="form-control" value="{{data.Address}}"/></td>
        </tr>
        <tr>
          <th>Joining date</th>
          <td>
          <input type="date" name="textfield9" id="textfield9" class="form-control" value="{{data.join_date}}" required/></td>
        </tr>
        <tr>
          <th>Section</th>
          <td><label for="select"></label>
            <select name="select" class="form-control" id="select">
               <option {% if data.section == "Production" %}selected{% endif %}>Production</option>
               <option {% if data.section == "Packing" %}selected{% endif %}>Packing</option>
               <option {% if data.section == "Sales" %}selected{% endif %}>Sales</option>
          </select></td>
        </tr>
         
        <tr>
          <th>Remark</th>
          <td>
          <input type="text" name="textfield8" value="{{data.remark}}" placeholder="" id="textfield2" class="form-control" required/></td>
        </tr>
        <tr>
          <th>Photo</th>
          <td><img src="{{ data.Photo }}" height="60px"width="60px">
          <input type="file" name="Photo" id="Photo" class="form-control" /></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success"/></td>
        </tr>
      </table>
    </form>
    </body>

    {%endblock%}
    