{% extends "Employee/emp_inner-page.html" %}
{% block body %}
{% load static %}

<!-- ======= Blog Section ======= -->
<section class="inner-page">
  <div class="container" data-aos="fade-up">

    <div class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Attendance</h2>
          <ol>
            <li><a href="/staff_login">Home</a></li>
            <li>Attendance</li>
          </ol>
        </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <section id="contact" class="contact">
      <div class="container">
        <form action="/employee_view_attendance_post/" method="post"> <!-- Changed method to POST -->
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="select">Month:</label>
                <select name="month" class="form-control" id="select">
                  <option disabled selected value="">Month</option>
                  <option value="01">January</option>
                  <option value="02">February</option>
                  <option value="03">March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="select2">Year:</label>
                <select name="year" class="form-control" id="select2">
                  <option disabled selected value="">Year</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <button type="submit" name="button" id="button" value="search" class="btn btn-success btn-sm"><i class="fas fa-search"></i> Search</button>
            </div>
          </div>
        </form>
      </div>
    </section><!-- End Contact Section -->
  </div>
</section>

{% endblock %}
