<!DOCTYPE html>
<html>
<body>

<h1>Staff</h1>

<p><a href="/employee_view_profile">View Profile</a></p><br>
<p><a href="/employee_loan_request">Loan Request</a></p><br>
<p><a href="/employee_view_loan_status">View Loan Status</a></p><br>
<p><a href="/employee_leave_request">Leave Request</a></p><br>
<p><a href="/employee_view_leave_status">View Leave Status</a></p><br>
<p><a href="/employee_view_shift_allotment">View Shift Allotment</a></p><br>
<p><a href="/employee_change_password">Change Password</a></p><br>

</body>
</html>

